@charset "utf-8";
.container header {
	background-color: #6BA5E7;
}
.container header nav {
	background-color: #6BA5E7;
}
.container #hero {
	background-image: url(images/zz.jpg);
}
.container #about {
	background-image: -webkit-repeating-linear-gradient(270deg,rgba(205,230,255,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: -moz-repeating-linear-gradient(270deg,rgba(205,230,255,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: -o-repeating-linear-gradient(270deg,rgba(205,230,255,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: repeating-linear-gradient(180deg,rgba(205,230,255,1.00) 0.00%,rgba(255,255,255,1.00) 100%);
	text-align: center;
}
.container .banner {
	background-image: url(images/flower.jpg);
}
.container #contact {
	background-image: url(images/oi.jpg);
}
.container #contact .button {
	background-color: #CDE6FF;
	color: #2F3A4A;
}

.container .copyright {
	background-color: #6BA5E7;
}
